<div class="section-product" *ngIf="product">
    <div class="">
        <h1 class="mb-4">Products</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 mb-4" *ngFor="let product of productsDetails">
                    <i class="fa fa-pencil cursor-pointer-class" aria-hidden="true" (click)="edit(product.id)"></i>
                    <i class="fa fa-trash cursor-pointer-class" aria-hidden="true" (click)="delete(product.id)"></i>
                    
                    <div class="card">
                        <h2>{{product.title }}</h2>
                        <img class="product-image" [src]="product.thumbnail">
                        <p class="product-text">Price: {{ product.price}}</p>
                        <p class="text-bold product-text">Discounted Price: {{ product.discountPercentage}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link" (click)="previousPage()" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
                        [class.active]="i + 1 === currentPage">
                        <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
                    </li>
                    <li class="page-item" [class.disabled]="currentPage === totalPages">
                        <a class="page-link" (click)="nextPage()" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <ng-template #noProducts>
            <p>No products available</p>
        </ng-template>
    </div>
</div>


<div class="" *ngIf="!product">
    <div class="">
        <form action="" [formGroup]="ProductForm">
            <section>
                <div class="container">
                    <div class="row">
                        <h2 class="mb-4">Update Product</h2>
                        <div class="d-flex mb-2">
                            <label class="me-2" for="">Title:</label>
                            <input type="text" class="form-control" formControlName="title" name="" id="">
                        </div>
            
                        <div class="d-flex mb-4">
                            <label class="me-2" for="">Price:</label>
                            <input type="text" class="form-control" formControlName="price" name="" id="">
                        </div>
                    </div>
            
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-primary me-3" (click)="back()">Back</button>
                        <button class="btn btn-primary" (click)="update()">{{label}}</button>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>